<section class="block-cta">

{% set page = page.find('/get-quote') %}

<h2 class="block__title text-center fs25 tc-orange text-uppercase fw700">
    {{ page.title }}
</h2>

<div class="block__description">
    {{ page.content }}
</div>

<div class="block__rm text-center">
    <a class="bgc-orange text-white text-uppercase fw700 fs14 py15 px23 btn-default d-inline-block" href="/contact-us">Get a quote</a>
</div>
</section>