.block-slider {
    .slick-slide {
        outline: none; 
    }
    .block-wrapper {
        overflow: hidden;
    } 
    .slick-arrow, .slick-dots button {
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
    .slick-arrow {
        width: 30px;
        height: 30px;
        position: absolute;
        transform: translateY(-45%);
        top: 50%; 
        z-index: 2;
        font-size: 0; 
        border: 0; 
        background: {
            size: 100%;
            color: transparent;
        };
        @media (min-width: $min-md) {
             height: 50px;
            width: 50px;
        }
        @media (min-width: $min-lg) {
             height: 70px;
            width: 70px;
        }
        &.slick-disabled {
            opacity: .5; 
        }
        &.slick-prev {
            left: 15px;
            background: {
                image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTI5IDEyOSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTI5IDEyOSIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4IiBjbGFzcz0iIj48ZyB0cmFuc2Zvcm09Im1hdHJpeCgtMSAxLjIyNDY1ZS0xNiAtMS4yMjQ2NWUtMTYgLTEgMTI5IDEyOSkiPjxnPgogICAgPHBhdGggZD0ibTQwLjQsMTIxLjNjLTAuOCwwLjgtMS44LDEuMi0yLjksMS4ycy0yLjEtMC40LTIuOS0xLjJjLTEuNi0xLjYtMS42LTQuMiAwLTUuOGw1MS01MS01MS01MWMtMS42LTEuNi0xLjYtNC4yIDAtNS44IDEuNi0xLjYgNC4yLTEuNiA1LjgsMGw1My45LDUzLjljMS42LDEuNiAxLjYsNC4yIDAsNS44bC01My45LDUzLjl6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIiBmaWxsPSIjRkZGRkZGIi8+CiAgPC9nPjwvZz4gPC9zdmc+Cg==);

            };
        }
        &.slick-next {
            right: 15px; 
            background: {
                image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTI5IDEyOSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTI5IDEyOSIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4Ij48Zz48Zz4KICAgIDxwYXRoIGQ9Im00MC40LDEyMS4zYy0wLjgsMC44LTEuOCwxLjItMi45LDEuMnMtMi4xLTAuNC0yLjktMS4yYy0xLjYtMS42LTEuNi00LjIgMC01LjhsNTEtNTEtNTEtNTFjLTEuNi0xLjYtMS42LTQuMiAwLTUuOCAxLjYtMS42IDQuMi0xLjYgNS44LDBsNTMuOSw1My45YzEuNiwxLjYgMS42LDQuMiAwLDUuOGwtNTMuOSw1My45eiIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBkYXRhLW9sZF9jb2xvcj0iIzAwMDAwMCIgZmlsbD0iI0ZGRkZGRiIvPgogIDwvZz48L2c+IDwvc3ZnPgo=);

            };
        } 
    }
    .slick-dots {
        position: absolute;
        bottom: 20px; 
        display: flex !important;
        align-items: center;
        justify-content: center; 
        width: 100%; 
        list-style: none;
        padding: 0;
        li {
            padding: 0 5px;
            &.slick-active {
                button {
                    width: 25px;
                    transition: all ease .3s;
                }
            } 
            
        }
        button {
            font-size: 0;
            width: 15px;
            height: 10px; 
            background-color: #fff;
            display: block;
            border-radius: 15px; 
            border: 0; 
            display: block; 
            transition: all ease .3s;
        } 
    }
} 
 

.block-services { 
    figure {
        border-radius: 100%;
        overflow: hidden; 
        max-width: 210px;
        margin: 0 auto;
    }
}

.block-quote { 
    .block__rm {
        a {
            border: 1px solid #fff;
        }
    }
}