.node-type-faqs {
    .faq-list {
        .item {
            &:not(:last-of-type) {
                margin-bottom: 15px;  
            }
        }
        .item__title a { 
            background-color: #1f326c; 
            i {
                transition: all ease .3s; 
            }
            &:not(.collapsed) {
                i { 
                    transform: rotate(-180deg);
                    transition: all ease .3s;
                }
            }
        }
        .item__body {
            background-color: #eee; 
        }
    }   
}  